body{
    background-color: #D6D5C9; 
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    text-align: center;
    padding: 15px 0;
    background-color: #8D0801;
    width: 100vw;
    position: relative;
    margin: 0%;
    left: 0;
    margin-top: auto;
}

footer  p{
    color: whitesmoke;
    font-family: "Montserrat";
    font-size: 16px;
}

.tekst{
    color: #110e0e;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.anketa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #110e0e;
    font-family: "Montserrat";

    input[type="text"],
    input[type="email"]{
        margin-top: 5px;
        margin-bottom: 10px;
        width: 90%;
        padding: 5px;
        border: 1px solid #902923;
        border-radius: 5px;
        background-color: #f5f3f1;
    }

    input[type="radio"]{
        margin-top: 10px;
        margin-bottom: 10px;
    }  

    input[type="submit"],
    input[type="reset"] {
        background-color: #8D0801;
        color: whitesmoke;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        font-family: "Montserrat";
        margin-top: 20px;
       
    }
}

.anketa form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(141, 8, 1, 0.3);
    margin-top: 40px;
}

.anketa fieldset{
    width: 350px;
    background-color: rgba(214, 213, 201, 0.5);
    border: 2px solid #8D0801;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

.anketa #spol{
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
    border: 1px solid #902923;
    border-radius: 5px;
    background-color: #f5f3f1;
    font-family: "Montserrat";
}

.anketa legend{
    color: #8D0801;
    font-weight: bold;
}

.gumb{
    text-align: center;
}

.povratak{
    text-align: center;
    
    input[type="button"]{
        font-family: "Montserrat";
        font-size: 18px;
        border-radius: 3px;
        border: none;
        background-color: #8D0801;
        color: whitesmoke;
        box-shadow: 0 0 10px rgba(141, 8, 1, 0.3);
        margin-top: 70px;
        cursor: pointer;
        padding: 10px;
    }

}