body{
    background-color: #D6D5C9;
    font-family: "Montserrat"
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.nav{
    margin-top: 20px;
    margin-right: 50px;
    text-align: right;

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: #110e0e;
        font-weight: bold;
    }
}

.naslov{
    h1{
        color: #8D0801;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 70px;
        font-family: "BBH Sans Bartle";
    }

    h3{
        color: #902923;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 30px;
        font-family: "Montserrat";
        font-style: italic;
        font-weight: 400;
    }
}

.opis{
    text-align: center;
    font-size: 20px;
    color: #110e0e;
    font-family: "Montserrat";
    margin-left: 100px;
    margin-right: 100PX;
}


.quote{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #110e0e;
    font-family: "Montserrat";
}

footer{
    margin-top: auto;
    text-align: center;
    padding: 15px 0;
    background-color: #8D0801;
    width: 100%;
    position: relative;
    margin: 0%;
    left: 0;
    margin-top: auto;

   li{
    list-style: none;
   }

   a{
    text-decoration: none;
    color: whitesmoke;
    font-family: "Montserrat";
    font-size: 16px;
   }
}

.liste{
    width: 60%;
    margin: 20px auto;
    overflow: auto;
}

.lista1{
    float: left;
    width: 45%;
    text-align: right;
    list-style-position: inside;

    li{
        list-style: none;
    }
}

.lista2{
    float: right;
    width: 45%;
    text-align: left;
    list-style-position: inside;

    li{
        list-style: circle;
    }
}

.lista1, .lista2{
    font-size: 17px;
    font-family: "Montserrat";
    line-height: 150%;
    color: #110e0e;

    p{
        text-decoration: underline;
        color: #902923;
    }
}

.tablica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 50px;
    color: #110e0e;
    border-collapse: collapse;
    font-size: 15px;

    table{
        border: 2px solid #902923;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 20px 40px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(141, 8, 1, 0.3);
    }

    th{
        border: 1px solid #902923;
        border-radius: 5px;
        text-align: center;
        padding: 10px 20px;
        color: #8D0801;
        font-weight: 900;
        letter-spacing: 1px;
    }

    td{
        border: 1px solid #902923;
        border-radius: 5px;
        padding: 10px 20px;
        line-height: 1.8;
    }

    a{
        text-decoration: none;
        color: #6b0803;
    }

    #naslov{
        text-align: center;
        font-weight: bold;
    }
}